.runes {
    z-index: 99;
    -webkit-transition: 0.18s 0.1s;
    -moz-transition: 0.18s 0.1s;
    transition: 0.18s 0.1s;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 10rem;
    width: 10rem;
    /* filter: opacity(0.5) drop-shadow(0 0 0 blue); */
}

